
.reveal section {text-align: left}

.reveal h1, .reveal h2, .reveal h3, .reveal p {text-transform: none}

.reveal h1 {font-size: 1.2em; }

.reveal h2 {font-size: 1.0em;}

.floatleft {float: left}

.reveal code {font-size: 12pt}

pre.sourceCode {margin-top:2px; margin-left:2px; margin-top: 2px; margin-bottom:2px; margin-right:0pt}

div.sourceCode{margin-left:0px; margin-top: 0px; margin-bottom:0px}

.reveal section img {border: 0px}

.reveal p {font-size: 24pt}

.reveal li {font-size: 24pt}

.reveal blockquote {width: 90%}